<ul class="user-profiles">
  <li class="vcard">
  <img alt="" src="/images/marketing/avatars/rich_155.png" class="photo">
  <strong class="fn">Richard White</strong>
  <span class="role">Founder, CEO</span>
  <span class="org">UserVoice</span>
  </li>
  <li class="vcard">
  <img alt="" src="/images/marketing/avatars/scott_155.png" class="photo">
  <strong class="fn">Scott Rutherford</strong>
  <span class="role">Co-founder</span>
  <span class="org">UserVoice</span>
  </li>
  <li class="vcard">
  <img alt="" src="/images/marketing/avatars/evan_155.png" class="photo">
  <strong class="fn">Evan Hamilton</strong>
  <span class="role">Community Manager</span>
  <span class="org">UserVoice</span>
  </li>
  <li class="vcard">
  <img alt="" src="/images/marketing/avatars/dejana_155.png" class="photo">
  <strong class="fn">Dejana Bajic</strong>
  <span class="role">Associate Product Manager</span>
  <span class="org">UserVoice</span>
  </li>
  <li class="vcard">
  <img alt="" src="/images/marketing/avatars/joshua_155.png" class="photo">
  <strong class="fn">Joshua Rudd</strong>
  <span class="role">Head of User Experience</span>
  <span class="org">UserVoice</span>
  </li>
  <li class="vcard">
  <img alt="" src="/images/marketing/avatars/jonathan_155.png" class="photo">
  <strong class="fn">Jonathan Novak</strong>
  <span class="role">Lead Developer</span>
  <span class="org">UserVoice</span>
  </li>
  <li class="vcard">
  <img alt="" src="/images/marketing/avatars/mark_155.png" class="photo">
  <strong class="fn">Mark Martin</strong>
  <span class="role">Front-end Developer</span>
  <span class="org">UserVoice</span>
  </li>
  <li class="vcard">
  <img alt="" src="/images/marketing/avatars/man_155.png" class="photo">
  <strong class="fn">Kevin Mullin</strong>
  <span class="role">Operations Engineer</span>
  <span class="org">UserVoice</span>
  </li>
  <li class="vcard">
  <img alt="" src="/images/marketing/avatars/woman_155.png" class="photo">
  <strong class="fn">Elyssa Duncan</strong>
  <span class="role">Office Manager</span>
  <span class="org">UserVoice</span>
  </li>

  <li class="vcard">
  <img alt="" src="http://uservoice.com/upload/images/dinosaur_155.png" class="photo">
  <strong class="fn"><a href="/about/jobs#designer_with_htmlcss_skills">We’re hiring!</a></strong>
  <span class="role">Interaction Designer</span>
  </li>

  <li class="vcard">
  <img alt="" src="http://uservoice.com/upload/images/dinosaur_155.png" class="photo">
  <strong class="fn"><a href="/about/jobs#ruby_developer">We’re hiring!</a></strong>
  <span class="role">Ruby Developer</span>
  </li>

  <li class="vcard">
  <img alt="" src="http://uservoice.com/upload/images/dinosaur_155.png" class="photo">
  <strong class="fn"><a href="/about/jobs#web_developer">We’re hiring!</a></strong>
  <span class="role">Web Developer</span>
  </li>

</ul>
