<div id="content">
<div id="category_nav">
<ul>
<li><a href="/about" class='present'>关于我们</a></li>
<li><a href="/team/">团队介绍</a></li>
<li><a href="/faq/">常见问题</a></li>
<li><a href="/contact/">联系我们</a></li>
</ul>
</div>

<div id="main_content">
<%= render 'company_info' %>
</div>
</div>
