<div id="content">
<div id="category_nav">
<ul>
<li><a href="/about">关于我们</a></li>
<li><a href="/team/">团队介绍</a></li>
<li><a href="/faq/">常见问题</a></li>
<li><a href="/contact/" class='present'>联系我们</a></li>
</ul>
</div>

<div id="main_content">
<p>
公司地址：杭州西溪路525号浙大科技园C楼
</p>
<p>
电话：0571-58110707
</p>
<p>
传真：0571-58110707
</p>
<p>
邮箱：hr(@)china-east.net
</p>
<p>
客服邮件：service(AT)china-east.net
</p>

<p>
联系人：俞小姐
</p>

<p>
<iframe src='/map.html' width='700', height='560'></iframe>                           
</p>
</div>
</div>
