<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<style type="text/css">
table
  {
  border-collapse:collapse;
  }

table, td, th
  {
  border:1px solid black;
  }
</style>
</head>

<div id="content">
<div id="category_nav">
<ul>
<li><a href="/csst/">CSST有线接入终端
</a></li>
<li><a href="/cssa/" class='present'>CSSA无线接入终端</a></li>
<li><a href="/fastcat/">猫快</a></li>
</ul>
</div>

<div id="main_content">
<h2>CSSA无线接入终端</h2>
<p>CSSA 是家庭网关设备，具有宽带WAN 口和HFC 网络射频信号接收口。PC
通过WIFI 或网线的方式与终端相连，PC 上行请求通过WIFI 发送至终端，终端处
理后通过有线/无线上网方式发送至加速服务器，下行的数据从有线电视网传输
给CSSA 解调，再通过WIFI 发送至用户计算机。</p>
<p>用户使用PC上的CSSA 客户端软件，可控制CSSA 终端开启或关闭当前宽带
连接的加速状态。各用户对CSSA 控制独立，互不影响，可帮助运营商通过帐号
授权的方式对加速业务进行控制。</p>
<p>CSSA 具备CSST 的策略路由和流量统计等所有功能。</p>
<h2>设备接口</h2>
<p>RF-IN：英制F母头同轴电缆接口，连接有线电视网络</p>
<p>RF-OUT：TV公头，有线电视信号环出口，连接机顶盒等设备</p>
<p>WAN：一个10/100M以太网络接口，连接运营商宽带</p>
<p>LAN：一个10/100M以太网络接口，连接用户PC</p>
<p>USB：一个USB口，可接3G上网卡</p>
<h2>CSSA产品特点</h2>
<p>采用无线方式（802.11b/g/n）与计算机相连，面向家庭宽带用户</p>
<p>终端内置DHCP、NAT服务，适合家庭宽带共享</p>
<p>实现有线（ADSL/LAN）、无线宽带（3G）接入的加速，终端可兼容各制式3G网卡</p>
<p>内置防火墙，可实现包过滤、内容过滤、数据包状态检测（SPI）</p>
<p>支持多种无线加密模式，并支持WPS功能，多种Wi-Fi保护设置能够让您更容易地建立安全机制</p>
<p>支持802.11n标准，MIMO 2*2传输速度可达300Mbps</p>
<h2>CSSA产品指标</h2>
 <table border="1" align="center">
    <tr>
	  <th>项目</th>
	  <th colspan="2">规格</th>
    </tr>
    <tr>
	  <th rowspan="5">RF输入</th>
	  <td>连接头</td>
                 <td>75Ω英制母头</td>
    </tr>
    <tr>
	  <td>接收电平</td>
	  <td>35~85dBuV</td>
   </tr>
   <tr>
	  <td>频率</td>
	  <td>47MHz~862MHz</td>
   </tr>
   <tr>
	  <td>C/N门限</td>
	  <td>≥26dB</td>
   </tr>
   <tr>
	  <td>QAM模式</td>
	  <td>64QAM</td>
   </tr>
   <tr>
	<th rowspan="2">RF输出</th>
                 <td>连接头</td>
	  <td>75Ω公制公头</td>
   </tr>
   <tr>
	  <td>插入损耗式</td>
	  <td>1.5dB</td>
   </tr>
   <tr>
	<th rowspan="3">网络接入</th>
                 <td>WAN口</td>
	  <td>75Ω公10/100Base-T，支持PPPoE、动态IP、静态IP等接入</td>
   </tr>
     <tr>
	  <td>USB口</td>
	  <td>USB2.0，支持3G上网卡连接</td>
   </tr>
   <tr>
	  <td>LAN口</td>
	  <td>10/100Base-T，本地LAN接入</td>
   </tr>
    <tr>
	<th rowspan="5">无线网络</th>
                 <td>WI-FI</td>
	  <td>支持802.11b/g/n，最高连接速度达300Mbps</td>
     </tr>
      <tr>
	  <td>网络模式</td>
	  <td>支持11n only模式、802.11b/g/n混合模式</td>
     </tr>
     <tr>
	  <td>QoS支持</td>
	  <td>Wi-Fi多媒体（WMM）</td>
     </tr>
      <tr>
	  <td>安全设置</td>
	  <td>支持WPA、WPA-PSK、WPA2、WPA2-PSK、WPA1WPA2                         、WPAPSKWPA2PSK等多种加密模式</td>
     </tr>
     <tr>
	  <td>WPS</td>
	  <td>选择个人识别码（PIN）或按钮（PBC）方式做Wi-Fi保护设置能够让您更容易地建立安全机制。 ）</td>
     </tr>
         <tr>
	<th rowspan="4">防火墙</th>
                 <td>包过滤</td>
	  <td>支持IP、MAC和端口的过滤，保护网路远离Internet病毒蠕虫恶意攻击</td>
     </tr>
       <tr>
	  <td>端口映射</td>
	  <td>通过端口映射，可以建立虚拟服务器来提供网络服务。</td>
     </tr>
     <tr>
	  <td>内容过滤</td>
	  <td>可以设置内容过滤规则来限制不适当的网页。</td>
     </tr>
          <tr>
	  <td>系统安全</td>
	  <td>防止SYN Flood攻击、端口扫描、远程访问等功能。支持数据包状态检测（SPI）功能。</td>
     </tr>
         <tr>
	<th rowspan="2">其他功能</th>
                 <td>NAT相关</td>
	  <td>支持3层NAT，DMZ主机和特殊应用程序</td>
   </tr>
          <tr>
	  <td>加速通道</td>
	  <td>宽带加速设置、HFC统计信息</td>
     </tr>
  </table>
  <br/>
  <h2>CSSA产品使用</h2>
  <p>CSSA基于家庭用户，为家庭成员提供原有宽带的加速和高速无线连接及共享服务。</p>
  <h3>家庭宽带共享及加速</h3>
<p align='center'>
<img src="/images/cssa有线家庭宽带共享加速.gif">
</p>
<p>家庭宽带用户开通宽带加速后，用户PC使用WIFI方式连接终端，用户使用PC上的CSSA客户端软件，可控制CSSA终端开启或关闭当前宽带连接的加速状态。各用户对CSSA控制独立，互不影响，可帮助运营商通过帐号授权的方式对加速业务进行控制。</p>
<h3>3G 家庭宽带共享及加速</h3>
<p align='center'>
<img src="/images/cssa3G家庭宽带共享加速.gif"  >
</p>
<p>CSSA 终端设备的USB 端口支持与3G 上网卡的适配，对3G 制式无要求。用
户可将3G 上网卡插入到终端USB 接口上，提供基本宽带连接，家庭用户共享3G
网络并可通过帐号认证的方式独立使用宽带加速服务。
</p>





</div>
</div>

