<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<style type="text/css">
table
  {
  border-collapse:collapse;
  }

table, td, th
  {
  border:1px solid black;
  }
</style>
</head>

<div id="content">
<div id="category_nav">
<ul>
<li><a href="/csst/" class='present'>CSST有线接入终端
</a></li>
<li><a href="/cssa/">CSSA无线接入终端</a></li>
<li><a href="/fastcat/">猫快</a></li>
</ul>
</div>

<div id="main_content">
<h3>CSST有线接入终端</h3>
<p align='center'>
<%= image_tag "CSST终端.JPG" %>
</p>
<p>CSST是个人用户终端，采用USB线与计算机连接，PC安装CSST客户端软件后，通过插入、拔出USB线缆，自动建立和终止加速通道的连接。CSST终端软件可实现策略路由，只对属于策略路由中的数据进行加速。同时软件还有显示加速过程中的状态，显示流量统计等功能。</p>
<p>设备接口：</p>
<p>RF-IN：英制F母头同轴电缆接口，连接有线电视网络</p>
<p>RF-OUT：TV公头，有线电视信号环出口，连接机顶盒等设备</p>
<p>USB：通过终端附带的USB线缆连接PC和终端</p>
<h3>CSST产品特点</h3>
<p>面向个人宽带用户
实现对各类有线、无线宽带上网的加速,通过USB线实现供电与数据传输
，连接上PC即可自动建立加速,具有流量统计功能，实现策略路由，对
属于策略路由中的地址进行加速。也可实现所有网段加速。</p>
<h3>CSST产品指标</h3>
<table border="1"  align="center">
    <tr>
	  <th>项目</th>
	  <th colspan="2">规格</th>
    </tr>
    <tr>
	  <th rowspan="2">RF输入</th>
	  <td>连接头</td>
          <td>75Ω英制母头</td>
    </tr>
    <tr>
	  <td>接收电平</td>
	  <td>35~85dBuV</td>
   </tr>
<tr>
	  <th rowspan="2">RF输出</th>
	  <td>连接头</td>
          <td>75欧公制公头</td>
    </tr>
   <tr>
	  <td>电视信号插损</td>
	  <td>1.5dB</td>
   </tr>
    <tr>
	  <th rowspan="4">RF参数</th>
	  <td>频率</td>
          <td>47MHz~862MHz</td>
    </tr>
    <tr>
	  <td>符号率</td>
	  <td>3.6~6.952MBaud</td>
   </tr>

   <tr>
	  <td>C/N门限</td>
	  <td>≥26dB</td>
   </tr>
   <tr>
	  <td>QAM模式</td>
	  <td>64QAM</td>
   </tr>
      <tr>
	  <th >数据&供电</th>
	  <td>USB接口</td>
          <td>USB 2.0 high-speed</td>
    </tr>

    </table>



<h3>CSST产品使用</h3>
 <h3>个人宽带加速</h3>
<p align='center'>
<img src="/images/csst个人宽带加速.gif" >
</p>
<p>为个人宽带用户提供高带宽接入服务，消除原有接入带宽瓶颈，实
现带宽从几兆到几十兆的突破。</p>
<p>高带宽接入可以为高速数据传输和高质量视频内容分发提供新的传
输途径，对于网内资源丰富的运营商，可以将网络与视频内容整体包
装，为用户提供新的业务。</p>
<h3>3G 宽带加速</h3>
<p align='center'>
<img src="/images/csst3G宽带加速.gif"%>
</p>
<p>移动3G 用户通过3G 上网卡在固定场所上网，接入到宽带加速系统
后，用户的上网请求通过3G 网络发送至加速服务器，宽带加速系统会
将本次请求的下行数据转发到HFC 网络，不从原3G 网络返回，用户只
需终端设备就可从HFC 网络获取下行数据，节省3G 流量。</p>
<p>对于移动运营商，可减少大量下行流量对3G 网络的冲击，减少网络负荷和
资源占用，提升用户下行带宽，吸引和承载更多用户。</p>
</div>
</div>
