<div id="content">
<div id="category_nav">
<ul>
<li><a href="/customerservice/" class='present' >客户服务</a></li>
<li><a href="/download/">文档下载</a></li>
</ul>
</div>
<div id="main_content">
<h1>客户服务</h1>
<h3 >联系邮箱： service@china-east.net</h3>
</div>
</div>
