<div id="content">
<div id="category_nav">
<ul>
<li><a href="/csst/">CSST有线接入终端</a></li>
<li><a href="/cssa/">CSSA无线接入终端</a></li>
<li><a href="/fastcat" class='present'>猫快</a></li>
</ul>
</div>
<p>“猫快”是华数网通宽带采用全新网络技术，推出的互联网新一代超带宽下载服务。订购用户将享受独立的高速下行通道，最高可达30Mbps（下载4G高清电影仅需20分钟）。 
“猫快”具备智能感知，自动选择最有效的互联网内容链接进行下载，有效提升下载速度，改服务即插即用，支持一键安装，操作简易。

通过使用该客户端，用户大量访问互联网的的流量去向会发生改变，大量的流量集中在网内，提高用户的网络质量、降低投诉，运营商也节省出口带宽、提升竞争力。
</p>
<%= image_tag "maokuai.JPG" %>

<div id="main_content">
</div>
</div>
