<div id="content">
<div id="category_nav">
<ul>
<li><a href="/csst/">CSST加速终端</a></li>
<li><a href="/cssa/" '>CSSA</a></li>
<li><a href="/gbb/"class='present'>3GBB</a></li>
<li><a href="/fastcat/">猫快</a></li>
</ul>
</div>

<div id="main_content">
</div>
</div>
