<div id="content">
	<%= render 'topics' %>
	<%= render 'company' %>
	<div class='clear'></div>
  <div class='news left'>
		<h3>友情链接</h3>
		<table width='98%'>
		<tr>
			<td><a href='http://www.ccsa.org.cn/' target='__blank'>中国通信标准委员会</a></td>
			<td><a href='http://www.ccidcom.com/' target='__blank'>通信产业网</a></td>
			<td><a href='http://www.chinaunicom.com.cn/' target='_blank'>中国联通</a></td>
			<td><a href='http://www.10086.cn/' target='_blank'>中国移动</td>
			<td><a href='http://www.hzcnc.com/' target='_blank'>浙江华数</td>
			<td><a href='http://www.bgctv.com.cn/' target='_blank'>北京歌华</td>
			<td><a href='http://comm.ccidnet.com/' target='_blank'>赛迪通信</a></td>
			<td><a href='http://www.ptsn.net.cn/' target='_blank'>通标网</a></td>
		</tr>
		<tr>
			<td><a href='http://www.cnttr.com/' target='_blank'>中国通信网</a></td>
			<td><a href='http://tech.qq.com/' target='_blank'>腾讯科技</a></td>
			<td><a href='http://www.ccidcom.com/' target='_blank'>通信产业网</a></td>
			<td><a href='http://tech.sina.com.cn/' target='_blank'>新浪科技</a></td>
			<td><a href='http://tech.163.com/' target='_blank'>网易科技</a></td>
			<td><a href='http://www.chinaitlab.com/' target='_blank'>中国IT实验室</a></td>
			<td><a href='http://www.bokee.net/' target='_blank'>企博网</a></td>
		</tr>
		</table>
	</div>
	<div class='news right'>
		<h3><a href='/contact'>联系方式</a></h3>
		<ul style='width:100%'>
		<li style='width:100%'>电话：0571-28186528</li>
		<li>传真：0571-28186529</li>
		<li>客服邮件：service(AT)china-east.net</li>
		<li>公司地址：杭州西溪路525号浙江大学科技园A楼</li>
		</ul>
	</div>
</div>
