<div id="content">
<div id="category_nav">
<ul>
<li><a href="/overallprogram/" class='present'>宽带加速整体方案</a></li>
<li><a href="/programfeatures/">方案特点</a></li>
</ul>
</div>
<div id="main_content">
<h3>CSS宽带加速系统简介</h3>
<p>宽带加速系统解决方案（CSS- Cable Speeding System for TCP/IP Network）是基于TCP/IP数据通信协议、跨接两个物理网络的宽带数据通信系统，利用广电运营商有线电视网络和电信运营商宽带网络集成为一个具有超高带宽的网络，通过有线电视网络即可实现宽带网下行速率达到十倍以上的提升，突破当前发展宽带业务所面临的带宽瓶颈和成本压力，是一种经济有效、和谐发展的三网融合解决方案。
CSS系统架构由服务器端：智能网关设备（CSSD）、数据打包设备（CSSP）、加速控制器（CSSC）、网管软件（CSSM），传输设备：边缘QAM调制器（IPQAM）以及终端设备（CSST/CSSA/CSSG）组成，服务器端部署在数据骨干网络，传输设备部署在有线电视网络，终端设备部署在用户端。
用户PC使用已有宽带经认证、授权后接入宽带加速服务器，接入后向加速服务器发送网络请求，加速服务器从Internet获得数据后，再将数据以UDP封包的形式输出至IPQAM设备，IPQAM将数据调制为RF信号后通过HFC网络传输给终端设备，终端设备对数据流进行解调，转换为TCP/IP数据包。</p>
<p>下图为CSS宽带加速系统示意图：</p>
<p align="center">
<img src="/images/宽带加速整体方案.gif" width="454" height="300"  >
</p>
</div>
</div>
