<div id="content">
  <div id="category_nav">
    <ul>
      <li><a href="/csst/">宽带伴侣(CSST)</a></li>
      <li><a href="/cssa/">无线宽带伴侣(CSSG)</a></li>
      <li><a href="/fastcat">云猫飞视(CSSF)</a></li>
      <li><a href="/fastcat">移动飞视(CSSW)</a></li>
    </ul>
  </div>

  <div id="main_content">


    <div id="products">
      <div style="float: left; margin-top: -25px;" id="portfolio-intro">
	<div>
	  <table id="product-list" cellspacing="25" border="0">
	    <tbody>
	      <tr valign="top">
		<td style="border: 0px solid rgb(237, 237, 237);" width='20%' align='center'>
		  <%= image_tag "csst-icon.png"%>
		  <h3>宽带伴侣</h3>
		</td>
		<td width='29%'>
		  <strong>CSST : </strong>一个针对中国用户使用习惯打造的、拥有中国自主知识产权的宽带加速系统，采用标准的USB接口，即插即用，可以让用户轻松获得30Mbps的下载速度。<p align="right"></p>
		  <a href="/release/csst_1.3.1141.exe" >客户端下载</a>

		</td>
		<td width='2%'></td>
		<td style="border: 0px solid rgb(237, 237, 237);" width='20%' align='center'>
		  <%= image_tag "cssap-icon.png" %>				
			 <h3>无线宽带伴侣</h3>			
		</td>
		<td width='29%'>
		    <strong>CSSG : </strong>一款面向家庭用户的加速智能设备，具有路由器功能，最高可达20Mbps的下载速度，用户可以采用无线接入的方式，支持多种终端设备同时加速，方便易用 
				<p align="right"></p>
				<a href="http://china-east.net/release/cssg_1.2.1227">软件下载</a>
		  	
		</td>
	      </tr>
	      <tr valign="top">
		<td style="border: 0px solid rgb(237, 237, 237);" width='20%' align='center'>
		  <%= image_tag "3gbb-icon.png"%>
		  <h3>移动飞视</h3>	
		</td>
		<td width='29%'>
		    <strong>CSSW : </strong>是一款可在户外以及车里使用的智能终端解调设备，支持pad、手机、笔记本等智能终端看电视，高清晰的直播视频体验，无需上网，不占用网络流量与带宽，为您提高时尚、便捷的无线视频服务</span>。
		  <p align="right"></p>
		  <a href="http://hz.wasu.cn/a_kpkhd/wasutv.rar">客户端下载</a>
		</td>
		<td width='2%'></td>
		<td style="border: 0px solid rgb(237, 237, 237);" width='20%' align='center'>
		  <%= image_tag "cssg-icon.png"%>
		  <h3>无线飞视</h3>	
		</td>
		<td width='29%'>
		  <strong>CSSF : </strong>是一款可在家庭里面使用的智能终端解调设备，支持pad、手机、笔记本等智能终端看电视，高清晰的直播视频体验，无需上网，不占用网络流量与带宽，为您提高时尚、便捷的无线视频服务
		  <p align="right"></p>
		  <a href="/release/CssaClient_1.1.1142.exe" >客户端下载</a>
		</td>
		
	      </tr>
	    </tbody>
	  </table>
	</div>
	<div><strong> </strong></div>
      </div>
      <div style="clear: both;"> </div>
      <div class="clear"> </div>
    </div>
  </div>
</div>

