<div id="content">
<div id="category_nav">
<ul>
<li><a href="/overallprogram/" >宽带加速整体方案</a></li>
<li><a href="/programfeatures/" class='present'>方案特点</a></li>
</ul>
</div>
<div id="main_content">
<h3>宽带加速系统解决方案</h3>
<pre>  宽带加速系统可提供的加速服务包括：
  有线宽带： ADSL、LAN、CMTS(Cable Modem)、专线上网
  无线宽带： 3G(TD-SCDMA、WCDMA、CDMA2000)、GSM</pre>
<br/>
<p align='center'>
<%= image_tag "宽带加速系统解决方案.gif" %>
</p><br/>
<pre>  宽带加速系统可对个人用户、家庭用户及公众用户各类有线、无线宽带业务提供加速服务。</pre>
<br/>
<h3 >技术方案特点</h3>
<dl>
<dt><strong>   简单易用:</strong></dt>
<dd>对于CSST 接入型终端，具有方便的即插即用功能，采用USB 线与计算机连接，PC安装CSST 客户端软件后，通过插入、拔出USB 线缆，自动建立和
终止加速通道的连接，CSST 终端驱动支持Vista、XP、Win7 等操作系统。对于CSSA 网关型终端，用户PC 通过无线WiFi 或以太线缆连接至CSSA，即可建
立宽带加速。</dd>
<dt><strong>智能路由:</strong></dt>
<dd>智能网关设备可以根据IP地址设置策略来获取Cache服务器的数据。智能网关设备可以对多种应用进行识别以及加速，目前支持流媒体、网页、BT、
EM、迅雷、QQLIVE、PPLIVE、PPSTREAM、旋风、快车和QVOD等应用。通过结合运营商本地的Cache缓存系统，CSS宽带加速系统可以将已缓存的海量互
联网资源快速传给用户，大大提升了用户使用体验。</dd>
<dt><strong>系统冗余:</strong></dt>
<dd>方案支持多套CSSD和CSSP的相互备份冗余设计，提高系统设备运行的稳定性和可靠性。</dd>
<dt><strong>接入灵活:</strong></dt>
<dd>支持多种网络接入，LAN、ADSL、WIFI、3G链路都可以接入到CSS系统，灵活方便，在有线电视网覆盖区域均可实现快速部署和业务开通。支持
PPPOE拨号和静态IP，可以兼容家庭路由器和网关设备。</dd>
<dt><strong>下行带宽大:</strong></dt>
<dd>CSS系统具有非常大的下行带宽（单用户高达30Mbps以上），满足互联网用户对高带宽的需求，比现阶段发展光纤到户FTTH方式具有更好的性价比
，尤其为郊区和偏远地区的家庭开通高宽带接入业务提供了便利的开通条件。</dd>
<dt><strong>充分利用现有网络:</strong></dt>
<dd>有线电视网络频谱资源丰富，带宽大。 CSS系统利用HFC网络具有高带宽下行的数据吞吐能力(单频点最大38Mbps)，无需对原有网络进行大规模升级
改造，初期投入、建设门槛低，充分挖掘了有线电视网存量资源的价值。</dd>
<dt><strong>覆盖范围广、可滚动投资:</strong></dt>
<dd>CSS设备可以在总前端、分前端中心机房和HFC网络光节点部署即可实现全网络无盲点的用户覆盖，业务可迅速开展；若后续带宽需求增加，可利用
频谱空分的方式提高用户承载容量；对于热点区域可按需扩容，伴随着业务的发展进行滚动投资，可以获得投资运营的最佳回报率。</dd>

</dl>


</div>
</div>
