<div id="content">
	<div class="news" id="portfolio" style="width:99%">
		<h1>云道服务平台</h1>
		<div class="more"><a href="/portfolio"></a></div>
		<table id='company-info'>
			<tr>
				<td style='vertical-align:top'>					 <p>云道服务平台是东方网和科技有限公司推出的多网融合、多屏融合的系统解决方案，方案集成了数字电视直播、互联网视频导航和云计算宽带加速功能。使用云道服务，用户可以通过PC、平板电脑、手机等智能终端以WiFi连接的方式收看数字电视节目、获取互联网视频加速导航服务和云计算宽带加速服务。用户可通过营业厅开通、网店购买、在线预定多种方式获得云道服务，该服务使用方便、内容丰富、费用低，适合使用智能终端收看视频节目的年轻人群。 它有以下特点：
						<h3>视频播放</h3>
						<p>支持您在ipad、手机、笔记本等智能终端看电视， 连上终端即可体验高清晰的直播视频服务， 无需上网，不占用网络流量与带宽， 您可以随时随地享受便捷的电视服务</p>
						<h3>云应用加速</h3>
						<p>为您准备了超高、稳定的网络下行通道， 最高的下载速度可达30Mbs，无需任何等待即可享受快捷、时尚的云应用， 云猫服务已支持目前主流的视频网站、游戏门户以及多媒体应用</p>
					</p>

				</td>
				<td>
					<%= image_tag 'shema-1.png', :width => 345%>					
				</td>
			</tr>
		</table>
	</div>
</div>

