<div id="content">
  <div id="category_nav">
    <%= render "nav" %>
  </div>

  <div id="main_content">
    <h3><span style="font-size: large;"><strong>C/C++ 工程师</strong></span></h3>
    <h4>
      <strong></strong></h4>
    <p><strong>任职要求：</strong><strong> </strong></p>
    <p>
      1. 计算机、通信、应用数学相关专业本科或以上学历；<br />
      2. 精通C语言，熟悉C++编程语言, 有嵌入式系统开发经验；<br />
      3. 熟悉TCP/IP协议，Linux Socket模型；<br />
      4. 深入理解linux内核，能够基于内核进行网络开发。<br />  	
    </p>
    <p><strong>加分条件：</strong><strong> </strong></p>
    <p>
      1. 熟悉ruby、python、erlang等编程语言;<br />
      2. 熟悉机顶盒、数字电视网络原理;<br />
    </p>	
    <p><strong>其他：</strong><strong> </strong></p>
    <p>
      1. 良好的思维习惯，流畅的沟通/表达能力；<br />
      2. 积极进取，吃苦耐劳；<br />
      3. 有团队组织能力，能指导其他工程师尤佳。<br />
    </p>
    <div class="clear"> </div>
  </div>
</div>
