<div id="content">
	<div id="category_nav">
		<ul>
			<li><a href='/recruits'>招聘首页</a></li>
			<li><a href="/recruits/c">c工程师</a></li>
			<li><a href="/recruits/cpp" class='present'>c++工程师</a></li>
			<li><a href="/recruits/erlang/">erlang工程师</a></li>
			<li><a href="/recruits/ruby/">ruby工程师</a></li> 
			<li><a href="/recruits/test/">测试工程师</a></li>
			<li><a href="/recruits/net/">网络支持工程师</a></li>
		<ul>
	</div>

	<div id="main_content">
			<h3><span style="font-size: large;"><strong>C++ 工程师</strong></span></h3>
			<h4>
				<strong></strong></h4>
					<p><strong>任职要求：</strong><strong> </strong></p>
					<p>
					1. 计算机、通信、应用数学相关专业本科或以上学历；<br />
					2. 熟悉C++编程语言，有C++项目开发经验；<br />
					3. 熟悉TCP/IP协议以及Socket模型；<br />
					4. 熟悉windows下编程以及MFC框架<br />  	
					</p>
					<p><strong>加分条件：</strong><strong> </strong></p>
					<p>
					1. 熟悉windows底层驱动开发<br />
					2. 熟悉多媒体播放器开发<br />
					</p>	
					<p><strong>其他：</strong><strong> </strong></p>
					<p>
					1. 良好的思维习惯，流畅的沟通/表达能力；<br />
					2. 积极进取，吃苦耐劳；<br />
					3. 有团队组织能力，能指导其他工程师尤佳。<br />
					</p>
					<div class="clear"> </div>
	</div>
</div>
