<div id="content">
  <div id="category_nav">
    <%= render 'nav' %>
  </div>

  <div id="main_content">
    <h3><span style="font-size: large;"><strong>实现你的创业梦想，从东方网和开始</strong></span></h3>
    <h4><strong>东方网和期待您的加入，我们会为你提供最适合您的职业发展规划！ </strong></h4>
    <p></p>
    <table cellspacing="20" border="0">
      <tbody>
	<tr valign="top">
	  <td style="width: 33%;">
	    <p style="text-align: center;">
	      <%= image_tag "jiasu.jpg", :width => 184, :height => 62 %>
	    </p>
	  </td>
	  <td style="width: 33%;">
	    <p style="text-align: center;">
	      <%= image_tag "incubation_jumpstart.gif" %>
	    </p>
	  </td>
	  <td style="width: 33%;">
	    <p style="text-align: center;">
	      <%= image_tag "incubation_eir.gif" %>
	    </p>
	  </td>
	</tr>
	<tr valign="top">
	  <td style="width: 33%;"><span style="color: rgb(158, 125, 88);">
	      <strong>理想</strong> 提供全球领先的云宽带产品以及三网融合解决方案</span>
	    <span style="color: rgb(158, 125, 88);"></span></td>
	  <td style="width: 33%;"><span style="color: rgb(91, 125, 44);">
	      <strong>激情</strong> 打造敏捷的软件开发团队，激活每位成员的最大潜力</span>
	    <span style="color: rgb(91, 125, 44);">
	    </span>
	  </td>
	  <td style="width: 33%;"><span style="color: rgb(61, 105, 97);">
	      <strong>分享</strong> 提供有竞争力的薪资水平和完善的福利制度</span>
	    <span style="color: rgb(61, 105, 97);">
	    </span>
	  </td>
	</tr>
      </tbody>
    </table>
    <p><strong>东方网和有着一流的技术平台</strong><strong> </strong></p>
    <p>公司面向电信领域进行软件研发，始终保持着技术先进性，采用业内前沿的技术，我们关注的技术有网络中间件技术、云计算技术以及网络协议优化技术</p>
    <p><strong>东方网和有着领先的研发方法</strong><strong> </strong></p>
    <p>公司采用敏捷的软件开发思想，小版本交付的软件开发思路，在软件开发过程中，每位成员都乐于分享自己的知识和经验，我们用wiki替代文档，我们采用github管理代码，我们每天都有站立式会议交流工作中遇到的问题</p>
    <p><strong>东方网和有着良好的研发环境</strong><strong> </strong></p>
    <p>公司始终把软件研发、技术创新摆在第一位，公司有着优异的技术氛围， 公司经常不定期进行技术研讨</p>
    <div class="clear"> </div>
  </div>
</div>
