<div id="content">
  <div id="category_nav">
    <%= render "nav" %>
  </div>

  <div id="main_content">
    <h3><span style="font-size: large;"><strong>Iphone/Ipad 工程师</strong></span></h3>
    <h4>
      <strong></strong></h4>
    <p><strong>任职要求：</strong><strong> </strong></p>
    <p>
      1. 熟悉objc、c等编程语言，数量使用xcode；
      2. 负责iOS项目的架构设计与开发；根据产品设计文档，制定产品的技术开发计划，严格按照产品开发规范，按时完成项目开发任务；
      <br />
      3. 独立编写接口协议等开发相关文档；
      <br />
      4. 完成核心/重要模块的设计、编码、测试以及相关文档；
      <br />
      5. 负责iPhone手机平台上的手机软件、客户端的开发及相关技术研究工作，学习和研究新技术以满足产品的需求；
      <br />
      6. 负责iPhone手机平台疑难问题的攻关；
    </p>
    <p><strong>加分条件：</strong><strong> </strong></p>
    <p>
      1. 有App Store上线经验<br />
      2. 熟悉多媒体播放器开发<br />
    </p>	

    <p><strong>其他：</strong><strong> </strong></p>
    <p>
      1. 良好的思维习惯，流畅的沟通/表达能力；<br />
      2. 积极进取，吃苦耐劳；<br />
      3. 有团队组织能力，能指导其他工程师尤佳。<br />
    </p>
    <div class="clear"> </div>
  </div>
</div>
