<div id="content">
  <div id="category_nav">
    <%= render 'nav'%>
  </div>

  <div id="main_content">
    <h3><span style="font-size: large;"><strong>软件测试工程师</strong></span></h3>
    <h4>
      <strong></strong></h4>
    <p><strong>任职要求：</strong><strong> </strong></p>
    <p>
      1. 计算机、通信、应用数学相关专业本科或以上学历；<br />
      2. 有编写测试计划和测试用例的经验；<br />
      3. 熟悉TIP/IP网络原理；<br />
      4. 熟悉linux操作系统的使用<br />  	
    </p>
    <p><strong>加分条件：</strong><strong> </strong></p>
    <p>
      1. 熟悉网络产品的性能测试;<br />
      2. 熟悉VPN、L2TP原理;<br />
    </p>	
    <p><strong>其他：</strong><strong> </strong></p>
    <p>
      1. 良好的思维习惯，流畅的沟通/表达能力；<br />
      2. 积极进取，吃苦耐劳；<br />
      3. 有团队组织能力，能指导其他工程师尤佳。<br />
    </p>
    <div class="clear"> </div>
  </div>
</div>
