<div id="footer"> 
  <div id="contact_info">
    <div id="iw_family">
    </div>
    <div id="copyrightline">
      © 2010－2011 china-east.net, all rights reserved &nbsp;&nbsp;&nbsp;&nbsp;浙ICP备11050135号   
    </div>
    <div id="contact_list">
       <a href="http://122.224.75.236/wzba/login.do?method=hdurl&doamin=http://www.china-east.net&id=330106000134581&SHID=1223.0AFF_NAME=com.rouger.
gs.main.UserInfoAff&AFF_ACTION=qyhzdetail&PAGE_URL=ShowDetail"
target="_blank"> <img src="http://122.224.75.236/wzba/view/baxx/gh.jpg" border="0"></a> 
    </div>
  </div>
</div>
